body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    width: 98%;
    min-height: 95vh;
    
    padding: 0;
    margin: 1%;
    
    font-family: "Tahoma", sans-serif;
}

h1 {
    font-family: "Impact", monospace;
}


/*TOGGLE DISPLAY*/
.toggleHide {
    display: none;
}

.toggleShow {
    display: flex !important;
}


/*NAVIGATION*/
nav {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}

nav button {
    width: 33%;
    
    padding: 0 .25%;
    margin: 0;
    
    font-size: 110%;
}

.selected {
    color: red;
}


/*CONTENT WRAP*/
#content {
    width: 100%;
    height: 60px;
    
    padding-top: 1%;
    margin: 0 .25%;
    
    border-bottom: solid 1px red;
}

/*SEARCH*/
#userSearchForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
}


/*BROWSE*/
#browseSection{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#userBrowseList {
    display: flex;
    justify-content: space-around;
    
    width: 100%;
    
    padding: 0;
    margin: 0;
    
    list-style: none;
}


/*FOOTER*/
footer {
    text-align: center;
}

footer h1 {
    font-size: 125%;
}