body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    width: 98%;
    min-height: 98vh;
    
    padding: 0;
    margin: .5%;
    
    font-family: "Tahoma", sans-serif;
    
    overflow: hidden;
}

h1 {
    font-family: "Impact", monospace;
}

/*TOGGLE DISPLAY*/
.toggleHide {
    display: none !important;
}

.toggleShow {
    display: flex !important;
}

/*NO RESULTS*/
.noResults {
    width: 100%;
    
    margin-top: 15%;
    margin-left: 15%;
    
    font-style: italic;
}

/*GENERAL ATTRIBUTION*/
.genAttribution {
    margin-top: 10%;
}

/*INDIV ATTRIBUTION LINK BACK*/
.linkBack {
    display: flex;
    justify-content: space-between;
}

.linkBack a {
    font-family: "Impact", monospace;
    font-size: 75%;
    color: grey;
}

.linkBack a:hover {
    font-family: "Impact", monospace;
    font-size: 80%;
    font-style: none;
    color: grey;
    
    text-decoration: none;
}